@font-face { font-family: 'Arita-buri-SemiBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff'); font-weight: normal; font-style: normal; }


.main-bg{
    position: relative;
    width: 100%;
    background: url('../images/PE1-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.text h1{
    margin: 0 !important;
}

.brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.brand-logo img{
    width: 10%;
}

.row{
    margin: 0 !important;
}
.main-txt-box{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.text h1{
    color: white;
    width: 100%;
    font-size: 100px;
}

.car-photo img{
    width: 100%;
}

.car-photo{
    padding-top: 40px;
}

.car-front-text{
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    background-color: white;
    border: 1px solid gray;
}
.car-back-text{
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    background-color: black;
    color: white;
}

.front-back{
    margin-top: 40px;
}

.car-back{
    display: none;
}

.car-design{
    margin-top: 50px;
}

.car-design-title{
    margin-top: 80px;
}

.car-text-1{
    margin-top: 80px;
}


.modal-footer{
    padding-top: 30px;
    text-align: left;
}
.modal-footer h4{
    font-weight: bold;
}

.ex01,.ex02,.ex05{
    margin: 0 auto;
    width: 500px !important;
    height: 550px !important;
    background-color: white;
}
.ex03,.ex04{
    margin: 0 auto;
    width: 500px !important;
    height: 570px !important;
    background-color: white;
}

.modal-button{
    text-align: right;
}

.ex02,.ex04{
    display: none;
    margin: 0 auto;
}
.button-2{
    margin-top: 30px;
}

.ex-photo img{
    cursor: pointer;
}

.point .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 254, 254, 0.507);
    /* rgba(0 , 171, 107, 0.12); 색상값! */
    -webkit-border-radius: 50%;
    border-radius: 50%;
    animation: record-lg 1.5s ease-in-out infinite;
}

@keyframes record-lg {
	0% {
		opacity: 0;
		transform: scale(.5);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

.point .dot {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    background-color: white;
    border-radius: 50%;
    animation: dot-effec 1.5s ease-in-out infinite;
}

@keyframes dot-effec {
	0% {
		opacity: .5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}

.point.point-1 {
    top: -360px;
    left: 700px;
}
.point.point-2 {
    top: -320px;
    left: 950px;
}
.point.point-3 {
    top: -230px;
    left: 780px;
}

.point {
    position: absolute;
    width: 32px;
    height: 32px;
}


.img-padding{padding-top: 20px;}
.span-spacing p{margin-left: 3%;}
.span-spacing span{margin-left:7%;}
@media(max-width: 767px){
    .text-main-padding{
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .text h1{
        font-size: 50px;
    }
    .text{
        height: 100px;
    }
    .main-txt-box{
        height: 300px;
    }

    .color-text a{
        width: 10px;
        height: 10px;
    }
    .car-title > h1{
        font-size: 26px;
    }
    .car-photo h2{
        font-size: 20px;
    }
    .text-content h1{
        font-size: 24px;
    }
    #myModal img{
        width: 100%;
    }
    #myModal1 img{
        width: 100%;
    }
    #myModal2 img{
        width: 100%;
    }
    #myModal3 img{
        width: 100%;
    }
    .in-title h1{
        font-size: 24px;
        margin-top: 16px !important;
    }
    .in-title{
        background-color: gray;
        height: 60px !important;
    }
    .modal{
        width: 100% !important;
    }
    .point.point-1 {
        top: -190px;
        left: 130px;
    }

    .point.point-2 {
        top: -170px;
        left: 230px;
    }

    .point.point-3 {
        top: -140px;
        left: 170px;
    }
}

.car-title h1{
    padding-top: 40px;
}

.car-titles p{
    font-weight: bold;
}

.color-text>ul>li{
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 10px 15px;
}

.color-text>ul{
    display: flex;
    justify-content: center;
}
.color-text>ul>li{
    cursor: pointer;
}

.text-content > ul >li{
    list-style: none;
}

#white{
    background-color: snow;
}

#moonlight{
    background-color: #384e7a;
}

#burgundy{
    background-color: #6e3d43;
}

#steal{
    background-color: #5d5f63;
}

#black{
    background-color: black;
}

#forest{
    background-color: #55615f;
}

.moonlight,.burgundy,.steal,.forest,.black{
    display: none;
}


.car-img img{
    width: 100%;
}


.color-text > ul{
    padding: 0 !important;
}

.text-content > ul{
    padding: 0 !important;
}

.color-text a{
    display: block;
    width: 50px;
    height: 50px;
}

.in-title{
    background-color: gray;
    height: 80px;
}

.in-second{
    margin-top: 30px;
    font-weight: bold;
}

.inner{
    padding: 0 !important;
    margin-top: 70px;
}

.inner-photo{
    padding-left: 10px !important;
    padding-right: 0 !important;
    cursor: pointer;
}
.in-padding{
    padding: 0 !important;
}

.inner-color{
    margin-top: 100px;
    margin-bottom: 100px;
}

.in-text{
    margin-top: 30px;
}

.in-text h4{
    font-weight: bold;
}

.modal{
    padding: 0 !important;
    width: 60%;
}

.modal-body{
    width: 100%;
}

.inner-margin-row{
    margin-top: 20px !important;
}

.modal{
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
}
.modal-header h4{
    font-weight: bold;
}

.close{
    width: 40px;
    height: 40px;
}