*{
    margin: 0;
    padding: 0;
}

body{
    color: #222328;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 28px;

}
.menu > ul{
    display: flex;
    margin-right: 30px;
}
.menu_content{
    display: flex;
    margin-right: 30px;
}

.menu_content li{
    width: 100px;
    height: 30px;
    margin-top: 30px;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.submenu{
    position: relative;
    z-index: 999;
    display: none;
}
.submenu ul{
    height: 180px;
    background-color: rgba(0,0,0,0.2);
}

.submenu ul li{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
}
section{
    width: 1200px;
    height: 300px;
}
.slidebox{
    width: 1200px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.slider{
    overflow: hidden;
}
.slider>ul>li>a>img{
    display: block;
    border: 0;
    width: 1200px;
    height: 300px;
    transition: 1s;
}

.content{
    height: 200px;
    display: flex;
}
.content div{
    width: 400px;
}
.tab-contents{
    display: flex;
    background-color: lemonchiffon
}

.tab-menu > ul{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.tab-menu >ul >li{
    padding: 10px 0;
    width: 120px;
    text-align: center;
}
.tab-menu>ul>li:first-child{
    background-color: white;
}
.tab-1 > ul{
    width: 360px;
    background-color: white;
    margin-left: 20px;
}
.tab-1 > ul >li{
    padding: 10px 20px 10px 10px;
    
}

.tab-2{
    padding-left: 20px;
    margin-top: 30px;
}

.tab-2 ul{
    display: flex;
}
.tab-2 > ul >li{
    margin-right: 30px;
}
.tab-2 img{
    width: 100px;
    height: 100px;
}

.tab-2{
    display: none;
}
.banner{
    width: 400px;
    height: 200px;
    display: flex;
    background-color: white;
}
.banner img{
    margin: 0 auto;
    width: 400px;
}
.right{
    width: 400px;
    height: 200px;
    display: flex;
    background-color: white;
}
.right img{
    width: 400px;
    margin: 0 auto;
}

.popup{
    display: none;
    position: fixed;
    top: 100px;
    background: rgba(0,0,0,0.6);
}
.popup_body{
    width: 300px;
    height: 300px;
    padding: 20px;
    background: white;
    border: 2px solid black;
}
.popup:active{
    display: block;
    opacity: 1;
}.popup_top{
    height: 80%;
    text-align: center;
    margin-bottom: 20pt;
}
.pop{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.popup_bottom{
    text-align: right;
}
.popup_top h2{
    font-size: 20px;
}
footer{
    height: 100px;
    background-color: violet;
}

.footer{
    width: 1200px;
    height: 100px;
    display: flex;
}
.logo2{
    display: flex;
    width: 200px;
    padding-top: 28px;
    background-color: black;
}

.copyright{
    width: 800px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

.sns{
    display: flex;
    width: 200px;
    background-color: black;
}

.sns > h1{
    display: flex;
}
.sns img{
    width: 50px;
    height: 50px;
    padding: 26px 0 0 12px;
}





