*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    color: #222328;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
nav{
    height: 100px;
    background-color: crimson;
}
nav{
    display: flex;
    justify-content: space-between;
}
.mainNav{
    display: flex;
    margin-right: 30px;
}
.mainNav li{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
}
.logo{
    margin-top: 30px;
}

.subNav{
    position: relative;
    z-index: 999;
    display: none;
    
}
.subNav ul{
    height: 180px;
    background-color: rgba(0,0,0,0.2);
}
.subNav ul li{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
   
}

/* nav */
section{
    width: 1200px;
    height: 300px;
    background-color: rosybrown;
}

.slide_wrap{
    width: 1200px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.slide_box{
    overflow: hidden;
}

.slide_box>ul>li>a>img{
    display: block;
    border: 0;
    width: 1200px;
    height: 300px;
    transition: 1s;
}


.content{
    height: 200px;
    display: flex;
}
.content div{
    width: 400px;
}
.tab-contents{
    display: flex;
    background-color: lemonchiffon
}

.tab-menu > ul{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.tab-menu >ul >li{
    padding: 10px 0;
    width: 120px;
    text-align: center;
}
.tab-menu>ul>li:first-child{
    background-color: white;
}
.tab-1 > ul{
    width: 360px;
    background-color: white;
    margin-left: 20px;
}
.tab-1 > ul >li{
    padding: 10px 20px 10px 10px;
    
}

.tab-2{
    padding-left: 20px;
    margin-top: 30px;
}

.tab-2 ul{
    display: flex;
}
.tab-2 > ul >li{
    margin-right: 30px;
}
.tab-2 img{
    width: 100px;
    height: 100px;
}

.tab-2{
    display: none;
}
/* tab */

.popup{
    display: none;
    position: fixed;
    top: 100px;
    background: rgba(0,0,0,0.6);
}
.popup_body{
    width: 300px;
    height: 300px;
    padding: 20px;
    background: white;
    border: 2px solid black;
}

.popup:active{
    display: block;
    opacity: 1;
}
.popup_top{
    height: 80%;
    text-align: center;
    margin-bottom: 20px;
}
.popup_top h2{
    color: orange;
    margin-bottom: 20px;
    font-size: 20pt;
}
.popup_bottom{
    text-align: right;
}
.팝업닫기{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.banner-contents{
    background-color: lemonchiffon;
}

.banner-contents > img{
    margin-top: 10px;
    margin-left: 10px;
}
.go-contents{
    background-color: lemonchiffon;
}
.go-contents > img{
    margin-top: 10px;
    margin-left: 10px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: black;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.logo2{
    display: flex;
    width: 200px;
    height: 40px;
    padding-top: 30px;
}

.copyright{
    display: flex;
    padding-top: 35px;
}
.copyright p{
    color: white;
    font-size: 17px;
}
.sns{
    display: flex;
    padding-top: 35px;
}
.sns > img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

