
#section01{
    width:100%; height:1080px; background:#FFF url(../images/main.png) top center no-repeat;}

#section02{
    display: flex;
	width:100%; height:1080px; background:#6FF url(../images/page_2.png) no-repeat;}

#section03{position: relative; z-index: 1;
	width:100%; height:1080px;}
	
#section04{
	width:100%; height:1500px; background:#F33;}
	
#section05{
    width:100%; height:1500px; background:#FC0;}

#section06{
    width: 100%; height: 1500px; background: #f64;}

#section07{
    width: 100%; height: 1500px; background: #f15;
}

.menu_box{
	width:100%; height:100px; color:#FFF; position:fixed; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; z-index: 999999;}
	
	.fixed{
		background:rgba(0,0,0,0.5); transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;}
	
		.logo a{
            font-size:46px; padding:15px 0 0 15px; float:left; color:#FFF; font-family: 'Open Sans',Arial,Helvetica,sans-serif; text-decoration:none;}
            
            .logo > a > img{
                width: 72.44px;
                height: 69.28px;
                
            }
            /* 로고 크기 지정 */
            .menu_icon{
                display: none;
                float: right;
                margin: 12px 10px 0 0;
                padding: 10px 12px;
                font-size: 24px;
                color:rgba(255,255,255,0.5);
                border: 1px solid rgba(255,255,255,0.5);
                border-radius: 3px;
                cursor: pointer;
            }

            
            .logo_2{
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /* 중앙 폰트로고 가운데 정렬 지정 */
            .logo_2 > img{
                animation-name: push;
                animation-duration: 3s ;
            }
            /* 중앙 폰트로고 애니메이션 이름 지정 */
            
            @keyframes push{
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            /* 중앙 폰트로고 opacity 효과 */

		.menu_box > ul{
			float:right; padding:0 35px 0 0;}
			
			.menu_box li{
				float:left; text-align:center; width:100px;}
				
				.menu_box li a{
                    text-decoration:none; color:#FFF; line-height:100px; font-family: 'Open Sans',Arial,Helvetica,sans-serif; font-size:15px;}
					
					/**메뉴부분 마우스 오버시 색상 **/
					.menu_box li a:hover{
						border-top:2px solid #9D6; padding-top:40px; color:#9D6;}
						
					.menu_box li:nth-child(2) a:hover{
						border-top:2px solid #9F0; padding-top:40px; color:#9F0;}
						
					.menu_box li:nth-child(3) a:hover{
						border-top:2px solid #47c76b; padding-top:40px; color:#47c76b;}
						
					.menu_box li:nth-child(4) a:hover{
						border-top:2px solid #9df1b5; padding-top:40px; color:#9df1b5;}
						
					.menu_box li:nth-child(5) a:hover{
                        border-top:2px solid #f64; padding-top:40px; color:#f64;}
                        
                    .menu_box li:nth-child(6) a:hover{
                        border-top:2px solid #f15; padding-top:40px; color: #f15;}

                        /* main화면 */
    .content01{
        display: flex;
        color: white;
        font-size: 30px;
        text-align: center;
        line-height: 2.2em;
    }
    /* section02 문구 */
    .box1{
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.8);
        width: 40%;
        height: 1080px;
    }
    /* section02 opacity 박스 */
    .box2{
        display: flex;
        background-color: none;
        width: 10%;
        height: 1080px;
    }
    /* 박스 구분 */
    .box3{
        width: 50%;
        height: 1080px;
    }
    /* 박스 구분 */

    /* section02 end */
    .sec03-container a{
        text-decoration: none;
        color: black;
    }
    .box4{
        width: 100%;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 25px;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        box-sizing: border-box;
        font-weight: bold;
        cursor: pointer;
    }
  
    
    /* section03 지혜의숲박스 */
    .box5{
        width: 100%;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 25px;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        box-sizing: border-box;
        cursor: pointer;
        
    }
    

    /* section03 지지향박스 */
    .box6{
        width: 100%;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 25px;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        box-sizing: border-box;
        cursor: pointer;
    }
    /* section03 나인블럭박스 */

.sec03-slider{
        width: 75%;
        height: 1080px;
        position: absolute;
        left: 25%;
}
/* 슬라이드와 선택박스 부모요소 */
.container{
    width: 100%;
    display: flex;
}
/* 지혜의숲, 지지향, 나인블럭 선택 박스 부모요소 */
.sec03-container{
    width: 25%;
    display: flex;
    flex-direction: column;
}
/* 지혜의 숲, 지지향, 나인블럭 선택박스 */

.box7,.box8,.box9{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1080px;
}
/* 슬라이드 박스 위치조정 */

.box8,.box9{
    opacity: 0;
}
/* 슬라이드 첫화면 지혜의 숲 나오게 box8,box9 가리기 */

.slide1{
    background: url('../images/photo_1.png') center;
}
.slide1_1{
    position: absolute;
    color: white;
    background: rgba(0,0,0,0.8);
    width: 30%;
    height: 1080px;
    left: 60%;
}
    /* 지혜의 숲 텍스트 박스와 오퍼시티 */
.slide1_txt1{
    position: absolute;
    font-size: 30px;
    top: 30%;
    right: 35%;
}
    /* 지혜의 숲 타이틀 박스 */
.slide1_txt2{
    text-align: left;
    position: absolute;
    font-size: 18px;
    line-height: 2.3em;
    top: 40%;
    padding: 0 40px 0 40px;
}
    /* 지혜의 숲 텍스트 박스 */
.slide2{
    background: url('../images/photo_2.png') center no-repeat;
}
.slide3{
    background: url('../images/photo_3.png') center no-repeat;
}
.slide4{
    background: url('../images/photo_4.png') center no-repeat; 
}
.slide5{
    background: url('../images/photo_5.png') center no-repeat;
}
    /* section03 지혜의 숲 슬라이드박스 */

.slide6{
    background: url('../images/photo_6.png') center;
}

.slide6_1{
    position: absolute;
    color: white;
    background: rgba(0,0,0,0.8);
    width: 30%;
    height: 1080px;
    left: 60%;
}
    /* 지지향 텍스트 박스와 오퍼시티 */
.slide6_txt1{
    position: absolute;
    font-size: 30px;
    top: 30%;
    right: 40%;
}
    /* 지지향 타이틀 박스 */
.slide6_txt2{
    text-align: left;
    position: absolute;
    font-size: 18px;
    line-height: 2.3em;
    top: 40%;
    padding: 0 40px 0 40px;
}
    /* 지지향 텍스트 박스 */

.slide7{
    background: url('../images/photo_7.png');
}

.slide8{
    background: url('../images/photo_8.png');
}

.slide9{
    background: url('../images/photo_9.png');
}
/* 지지향 슬라이드 사진들 */

.slide10{
    background: url('../images/photo_10.png');
}

.slide11{
    background: url('../images/photo_11.png');
}

.slide12{
    background: url('../images/photo_12.png');
}
    .swiper-container {
        width: 100%;
        height: 100%;;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
 
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        position: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

@media(max-width:767px){
    #section01{
        height: 767px;
    }
    /* 1페이지 높이값 조정 */
    #section02{
        height: 767px;
    }
    /* 2페이지 높이값 조정 */
    #section03{
        height: 767px;
    }
    /* 3페이지 높이값 조정 */
    .container{
        height: 767px;
    }
    .sec03-container{
        width: 100%;
        height: 767px;
    }
    /* /지혜의 숲 전체 박스 */
    .sec03-slider{
        width: 100%;
        height: 667px;
        top: 100px;
        right: auto;
        left: auto;
    }
    /* 지혜의 숲 슬라이더 전체박스 */
    .slide1{
        background-size: 767px 667px;
    }
    /* 슬라이드 크기 조정 */

    .slide1_1{
        width: 100%;
        left: 0;
        top: 0;
        height: 667px;
    }
    .slide1_txt1{
        top: 20%;
    }
    .slide1_txt2{
        top: 30%;
    }
    /* 지혜의 숲 설명 화면에 텍스트 박스 100%로 채우기 */
    .menu{
        display: none;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    /* 작아졌을때 리스트 사라짐 */
    .menu_box li a{
        line-height: 50px;
        font-weight: bold;
    }
    /* 버튼메뉴 줄간격 */
    .menu_box li{
        display: flex;
        flex-direction: column;
    }
    .menu_box li a:hover{
        border-bottom:2px solid; padding-top:2px; color:#9D6;}
    
    .menu_box li:nth-child(2) a:hover{
        border-bottom:2px solid #9F0; padding-top:2px; color:#9F0;}
            
    .menu_box li:nth-child(3) a:hover{
        border-bottom:2px solid; padding-top:2px; color:#47c76b;}
            
    .menu_box li:nth-child(4) a:hover{
        border-bottom:2px solid; padding-top:2px; color:#9df1b5;}
            
    .menu_box li:nth-child(5) a:hover{
        border-bottom:2px solid;  padding-top:2px; color:#f64;}
            
    .menu_box li:nth-child(6) a:hover{
        border-bottom:2px solid; padding-top:2px; color: #f15;}

    /* 글자에 마우스 닿았을때의 이벤트 */
    .menu_box li{
        width: 100%;
    }
    /* 메뉴 크기(간격 생각하여 33%적용) */
    .menu_box ul{
        padding: 0;
    }
    /* 기존 리스트 패딩 값 삭제 */
    .menu_box{
        width: 100%;
        height: 71px;
    }
    /* 메뉴와 아이콘 fixed opacity 크기 */
    .menu_icon{
        display: block;
    }
    /* icon 나타내기 */
    .logo > a > img{
        width: 56.45px;
        height: 53.98px;
    }
    /* 로고크기 조정 */
    .logo > a {
        padding: 10px 0 0 10px;
    }
    /* 글씨 패딩 */
    .logo_2 > img{
        width: 80%;
    }
    /* 가운데 로고 크기 조정 */
    .box1{
        width: 100%;  
        height: 767px; 
    }
    .box2{
        width: 0;
    }
    .box3{
        width: 0;
    }
    /* flex 이용한 공간 없애고 텍스트박스 100%처리 하여 화면 채우기 */
    .content01{
        font-size: 20px;
    }
    /* section02 글자 크기 변경 */
    .box4,.box5,.box6{
        height: 100px;
        font-size: 16px;
    }
    /* 선택박스 크기와 글자 크기 바꾸기 */
    .sec03-container{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
    }
    /* 선택박스 위에서 가로로 넣기 */
    .box7,.box8,.box9{
        height: 667px;
    }
    /* 슬라이드 박스 높이 */
    .slide2{
        background: url('../images/photo_2_1.png') no-repeat;
    }
    .slide3{
        background: url('../images/photo_3_1.png') no-repeat;
    }
    .slide4{
        background: url('../images/photo_4_1.png') no-repeat;
    }
    .slide5{
        background: url('../images/photo_5_1.png') no-repeat;
    }
    /* 지혜의 숲 배경 크기 줄여서 넣기 */

    .slide6_1{
        width: 100%;
        left: 0;
        top: 0;
        height: 667px;
    }
    .slide6_txt1{
        top: 20%;
    }
    .slide6_txt2{
        top: 30%;
    }
    /* 지지향 설명 화면에 텍스트 박스 100%로 채우기 */
    
    .slide6{
        background: url('../images/photo_6_1.png') no-repeat;
    }
    .slide7{
        background: url('../images/photo_7_1.png') no-repeat;
    }
    .slide8{
        background: url('../images/photo_8_1.png') no-repeat;
    }
    .slide9{
        background: url('../images/photo_9_1.png') no-repeat;
    }
    /* 지지향 슬라이드 배경 크기 줄여서 넣기 */

    .slide10{
        background: url('../images/photo_10_1.png') no-repeat;
    }
    .slide11{
        background: url('../images/photo_11_1.png') no-repeat;
    }
    .slide12{
        background: url('../images/photo_12_1.png') no-repeat;
    }
}